<form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary mb-2">Sign up</h2>
    <hr>
    <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">I am</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
            <label class="form-check-label" for="gridRadios1">
              Male
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
              Female
            </label>
          </div>

        </div>
      </fieldset>
    <app-text-input [formControl]='registerForm.controls["username"]' 
    [label]='"Username"' class="me-sm-2"></app-text-input>
    <app-text-input [formControl]='registerForm.controls["knownAs"]' 
    [label]='"knownAs"'class="me-sm-2"></app-text-input>
    <app-date-input [formControl]='registerForm.controls["dateOfBirth"]' 
    [label]='"Date of birth"' [maxDate]='maxDate' class="me-sm-2"></app-date-input>
    <app-text-input [formControl]='registerForm.controls["city"]' 
    [label]='"City"' class="me-sm-2"></app-text-input>
    <app-text-input [formControl]='registerForm.controls["country"]' 
    [label]='"Country"' class="me-sm-2"></app-text-input>
    <app-text-input [formControl]='registerForm.controls["password"]' 
    [label]='"Password"'[type]='"password"' class="me-sm-2">
    </app-text-input>
    <app-text-input [formControl]='registerForm.controls["confirmPassword"]' 
    [label]='"confirm Password"' [type]='"password"' class="me-sm-2">
    </app-text-input>
    <div class="row" *ngIf="validationError.length>0">
        <ul class="text-danger">
            <li *ngFor="let error of validationError">
                {{error}}
            </li>
        </ul>
       
    </div>
    
    <hr>
    <div class="form-group me-sm-2 text-center ">
        <button [disabled]='!registerForm.valid' class="btn btn-success me-sm-2" type="submit">Register</button>
        <button class="btn btn-default btn-outline-secondary " (click)="cancel()" type="button">Cancel</button>
    </div>
  </form>
<!-- <p>Form value:{{registerForm.value|json}}</p>
  <p>Form status:{{registerForm.status|json}}</p>-->